/*
Post Show Page
*/
.post-template-default #header {
  left: auto;
  right: 0;
  width: 50%; }
  @media only screen and (max-width: 768px) {
    .post-template-default #header {
      left: 0;
      right: auto;
      width: 100%; } }

.post-template-default .split.left {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .post-template-default .split.left {
      left: auto;
      right: auto;
      width: 100%;
      height: 100%;
      width: 100%;
      position: unset;
      z-index: 0;
      top: 0;
      overflow-x: hidden;
      overflow: hidden;
      border-right: none;
      max-height: 53vh; } }
  .post-template-default .split.left img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    object-fit: cover; }

.post-template-default #primary {
  padding-top: 84px;
  height: auto;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow: hidden;
  right: 0;
  background-color: transparent; }
  @media only screen and (max-width: 768px) {
    .post-template-default #primary {
      padding-top: 0;
      position: relative;
      z-index: 0;
      top: 0;
      overflow-x: auto;
      overflow: auto;
      width: 100%; } }

.post-template-default .title {
  font-size: 3.625rem; }
  @media only screen and (max-width: 768px) {
    .post-template-default .title {
      font-size: 2.625rem; } }

.post-template-default .date {
  text-align: left;
  font-size: 0.8rem;
  padding-top: 1em;
  padding-bottom: 1em; }

.post-template-default .read-more__wrap {
  padding-top: 4em; }

.post-template-default .read-more {
  font-size: 1rem;
  padding-left: 38px; }

@media only screen and (min-width: 800px) {
  .post-template-default #arrow-left-long {
    float: left;
    transform: rotate(0); } }

@media only screen and (max-width: 800px) {
  .post-template-default #arrow-left-long {
    float: left;
    transform: rotate(0); } }

.post-template-default #articles_index {
  padding-top: 6rem; }

.archive #articles_index {
  padding-top: 4rem; }

@media only screen and (max-width: 768px) {
  .archive #articles_index {
    padding-top: 6rem; } }

.archive .split.left {
  position: unset;
  width: 100%;
  border: none;
  max-width: 100%;
  max-height: 40vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none; }
  .archive .split.left img {
    display: none;
    width: -webkit-fill-available;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    object-fit: cover; }

.archive .article {
  padding-bottom: 0.5em; }
  .archive .article .title,
  .archive .article .date {
    font-size: 1rem; }
  .archive .article .archive_flex {
    display: flex; }
    .archive .article .archive_flex .date {
      order: -1;
      margin-left: 0;
      flex: 3.3;
      max-width: 130px; }
    .archive .article .archive_flex a {
      flex: 6.6; }

.archive #sidebar-1 {
  position: absolute;
  bottom: 25px; }
