/*
Post Show Page
*/
.post-template-default #header {
  left: auto;
  right: 0;
  width: 50%; }
  @media only screen and (max-width: 768px) {
    .post-template-default #header {
      left: 0;
      right: auto;
      width: 100%; } }

.post-template-default .split.left {
  position: fixed; }
  @media only screen and (max-width: 768px) {
    .post-template-default .split.left {
      left: auto;
      right: auto;
      width: 100%;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 0;
      top: 0;
      overflow-x: hidden;
      overflow: hidden;
      border-right: none;
      max-height: 53vh; } }

.post-template-default #primary {
  padding-top: 84px;
  height: auto;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow: hidden;
  right: 0;
  background-color: transparent; }
  @media only screen and (max-width: 768px) {
    .post-template-default #primary {
      padding-top: 0;
      position: relative;
      z-index: 0;
      top: 0;
      overflow-x: auto;
      overflow: auto;
      width: 100%; } }

.post-template-default .title {
  font-size: 3.625rem; }
  @media only screen and (max-width: 768px) {
    .post-template-default .title {
      font-size: 2.625rem; } }

.post-template-default .date {
  text-align: left;
  font-size: 0.8rem;
  padding-top: 1em;
  padding-bottom: 1em; }

.post-template-default .read-more__wrap {
  padding-top: 4em; }

.post-template-default .read-more {
  font-size: 1rem;
  padding-left: 38px; }

@media only screen and (min-width: 800px) {
  .post-template-default #arrow-left-long {
    float: left;
    transform: rotate(0); } }

@media only screen and (max-width: 800px) {
  .post-template-default #arrow-left-long {
    float: left;
    transform: rotate(0); } }
