body {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px; }

.border-top {
  border-top: 2px solid #000;
  padding-top: 1em; }

.button {
  padding: 0.5em 1em;
  border: 2px solid #000; }
  .button:hover {
    opacity: 0.3; }

.home #header {
  opacity: 0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.3); }
  #header #mainNav {
    width: calc(100% - 60px);
    background: transparent;
    padding: 2em 0; }
    #header #mainNav .nav-list {
      display: flex; }
    #header #mainNav .nav-list__item:first-child {
      margin-left: 0; }
    #header #mainNav .nav-list__item:not(:first-child) {
      margin-right: 1em;
      margin-left: 0; }
    #header #mainNav .nav-list__item:last-child {
      margin-right: 0; }
