html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%; }

body {
  background: #e5e1d3; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td, nav {
  padding: 0;
  margin: 0 auto; }

fieldset, img {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a,
a:hover {
  color: #000000;
  text-decoration: none; }

img {
  max-width: 100%; }

.Neue45Light {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal; }

.Neue46LightItalic {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: italic; }

.Neue75Bold {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal; }

.Neue76BoldItalic {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: italic; }

.Neue55Roman {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal; }

.Neue56Italic {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: italic; }

.Neue65Medium {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 600;
  font-style: normal; }

.Neue65MediumItalic {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 600;
  font-style: italic; }

.Neue75Bold {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal; }

.Neue76BoldItalic {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: italic; }

.Neue95Bold {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 900;
  font-style: normal; }

.Neue96BoldItalic {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 900;
  font-style: italic; }

.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  flex-basis: 100%; }

@media only screen and (min-width: 800px) {
  .column {
    flex: 1; }
    .column.flex_reverse-desktop {
      order: -1; }
  ._33 {
    flex: 3.3; }
  ._66 {
    flex: 6.6; } }

body {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px; }
  body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

#main {
  min-height: 100vh; }

#bitnami-banner {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }
  #bitnami-banner * {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important; }

.border-top {
  border-top: 2px solid #000;
  padding-top: 1em; }

.button {
  padding: 0.5em 1em;
  border: 2px solid #000; }
  .button:hover {
    opacity: 0.3; }

.home #header {
  opacity: 0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.3); }
  #header.black {
    background-color: #000; }
    #header.black * {
      color: #fff;
      border-color: #fff; }
  #header #mainNav {
    width: calc(100% - 60px);
    background: transparent;
    padding: 2em 0; }
    @media only screen and (max-width: 768px) {
      #header #mainNav {
        width: calc(100% - 30px); } }
    #header #mainNav .nav-list {
      display: flex; }
    #header #mainNav .nav-list__item:first-child {
      margin-left: 0; }
    #header #mainNav .nav-list__item:not(:first-child) {
      margin-right: 1em;
      margin-left: 0; }
    #header #mainNav .nav-list__item:last-child {
      margin-right: 0; }

@media only screen and (max-width: 768px) {
  .display-none-768 {
    display: none; } }

.title404 {
  font-size: 1rem;
  text-transform: uppercase; }
  .error404 .title404 {
    padding-bottom: 1em; }

.return_home {
  padding-bottom: 1em; }
  .return_home a {
    text-decoration: underline; }

.error {
  font-size: 0.8rem; }

.text-center {
  text-align: center; }

.home .nav-list .nav-list__item:first-child a {
  display: none; }

.home #sidebar-1 {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 35px;
  padding-left: 30px;
  z-index: 999;
  opacity: 0;
  min-width: 100px; }
  .home #sidebar-1.black {
    background-color: #000; }
    .home #sidebar-1.black * {
      color: #fff;
      border-color: #fff; }
    .home #sidebar-1.black :hover * {
      color: #000;
      border-color: #000; }
  .home #sidebar-1 ul {
    display: none;
    padding-top: 1em; }
  .home #sidebar-1.active-archive {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9); }
    .home #sidebar-1.active-archive ul {
      display: block;
      padding-right: 30px; }
    .home #sidebar-1.active-archive .close {
      display: block; }
  .home #sidebar-1 .widgettitle {
    position: relative;
    text-decoration: none; }
  .home #sidebar-1 .close {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-left: 72%;
    margin-top: -21%;
    display: none; }
    .home #sidebar-1 .close::before, .home #sidebar-1 .close::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000; }
    .home #sidebar-1 .close::before {
      transform: rotate(45deg); }
    .home #sidebar-1 .close::after {
      transform: rotate(-45deg); }

@-webkit-keyframes drawUnderLine {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(10px); }
  50% {
    transform: translateY(-10px); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

@-moz-keyframes drawUnderLine {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(10px); }
  50% {
    transform: translateY(-10px); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

@-o-keyframes drawUnderLine {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(10px); }
  50% {
    transform: translateY(-10px); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

@keyframes drawUnderLine {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(10px); }
  50% {
    transform: translateY(-10px); }
  75% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0); } }

/*
Section Spacing
*/
#articles_index,
#homeIntro {
  margin-bottom: 7rem; }

#homeIntro {
  min-height: 100vh;
  position: relative; }
  @media only screen and (max-width: 768px) {
    #homeIntro {
      display: flex;
      flex-direction: column; } }
  #homeIntro h1.big {
    font-size: 10.5vw;
    line-height: 1em; }
    @media only screen and (max-width: 768px) {
      #homeIntro h1.big {
        padding-bottom: 0.3em; } }
  #homeIntro .big-red-a {
    z-index: -300;
    position: fixed; }
    #homeIntro .big-red-a img {
      width: auto;
      z-index: -300;
      height: 100vh;
      position: fixed;
      left: -11vw;
      max-width: none; }
  #homeIntro .left .text-align-right {
    padding-right: 1em; }
  #homeIntro .want-more {
    padding-top: 1em; }

.arrow-down {
  position: absolute;
  right: 1em;
  height: auto;
  bottom: -12vh; }
  @media only screen and (max-width: 768px) {
    .arrow-down {
      position: initial;
      right: 0;
      height: auto;
      bottom: 0;
      display: flex; }
      .arrow-down #arrow-left-long {
        margin: 0 auto;
        margin-top: 10px;
        height: 8vh;
        width: auto; } }
  .arrow-down a {
    display: block;
    width: 100%; }
  .arrow-down #arrow-left-long {
    width: 15px;
    float: none;
    transform: rotate(0deg) !important;
    -webkit-animation: drawUnderLine 4s infinite;
    /* Safari 4+ */
    -moz-animation: drawUnderLine 4s infinite;
    /* Fx 5+ */
    -o-animation: drawUnderLine 4s infinite;
    /* Opera 12+ */
    animation: drawUnderLine 4s infinite;
    /* IE 10+, Fx 29+ */ }

#articles_index {
  padding-top: 3rem; }

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow: hidden; }

/* Control the left side */
.left {
  left: 0;
  border-right: 1px solid #000000; }
  @media only screen and (max-width: 768px) {
    .left {
      padding-top: 2em;
      width: calc(100% - 30px);
      position: unset;
      border: none; } }

/* Control the right side */
.right {
  right: 0;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .right {
      width: 100%;
      position: unset;
      order: -1;
      height: 50vh; } }
  .right img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; }

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media only screen and (max-width: 768px) {
    .vertical-center {
      position: relative;
      top: 50%;
      -ms-transform: translateY(0);
      transform: translateY(0); }
      .vertical-center.text-align-right {
        text-align: center;
        padding-right: 0 !important; } }

.text-align-right {
  text-align: right; }

.articles {
  width: calc(100% - 60px); }
  @media only screen and (max-width: 768px) {
    .articles {
      width: calc(100% - 30px); } }

.article_banner {
  padding-bottom: 1em; }
  .article_banner .date {
    text-align: right;
    font-size: 0.8rem;
    padding-top: 1em; }

.title {
  font-size: 3rem; }

#arrow-left-long {
  width: 80px;
  display: block;
  transform: rotate(180deg); }
  @media only screen and (min-width: 800px) {
    #arrow-left-long {
      float: right;
      transform: rotate(0); } }

.read-more {
  display: block;
  font-size: 0.8rem; }

.article_img-wrap {
  overflow: hidden;
  max-width: 100%;
  max-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .article_img-wrap img {
    width: -webkit-fill-available;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    object-fit: cover; }

.article {
  padding-bottom: 3em; }
  .article .row .column {
    padding-bottom: 1em; }
  @media only screen and (min-width: 800px) {
    .article .row .border-top.column.flex_reverse-desktop {
      -webkit-column-count: 2;
      /* Chrome, Safari, Opera */
      -moz-column-count: 2;
      /* Firefox */
      column-count: 2;
      column-gap: 10%; }
    .article .row .border-top.column:first-child {
      margin-left: 2em;
      text-align: right; }
    .article .row .border-top.column:last-child {
      margin-right: 2em; } }

/*
Post Show Page
*/
.post-template-default #header,
.spotify-template-default #header {
  left: auto;
  right: 0;
  width: 50%; }
  @media only screen and (max-width: 768px) {
    .post-template-default #header,
    .spotify-template-default #header {
      left: 0;
      right: auto;
      width: 100%; } }

.post-template-default .split.left,
.spotify-template-default .split.left {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .post-template-default .split.left,
    .spotify-template-default .split.left {
      left: auto;
      right: auto;
      width: 100%;
      height: 100%;
      width: 100%;
      position: unset;
      z-index: 0;
      top: 0;
      overflow-x: hidden;
      overflow: hidden;
      border-right: none;
      max-height: 53vh; } }
  .post-template-default .split.left img,
  .spotify-template-default .split.left img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    object-fit: cover; }

.post-template-default #primary,
.spotify-template-default #primary {
  padding-top: 84px;
  height: auto;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow: hidden;
  right: 0;
  background-color: transparent; }
  @media only screen and (max-width: 768px) {
    .post-template-default #primary,
    .spotify-template-default #primary {
      padding-top: 0;
      position: relative;
      z-index: 0;
      top: 0;
      overflow-x: auto;
      overflow: auto;
      width: 100%; } }

.post-template-default .title,
.spotify-template-default .title {
  font-size: 3.625rem; }
  @media only screen and (max-width: 768px) {
    .post-template-default .title,
    .spotify-template-default .title {
      font-size: 2.625rem; } }

.post-template-default .date,
.spotify-template-default .date {
  text-align: left;
  font-size: 0.8rem;
  padding-top: 1em;
  padding-bottom: 1em; }

.post-template-default .read-more__wrap,
.spotify-template-default .read-more__wrap {
  padding-top: 4em; }

.post-template-default .read-more,
.spotify-template-default .read-more {
  font-size: 1rem;
  padding-left: 38px; }

@media only screen and (min-width: 800px) {
  .post-template-default #arrow-left-long,
  .spotify-template-default #arrow-left-long {
    float: left;
    transform: rotate(0); } }

@media only screen and (max-width: 800px) {
  .post-template-default #arrow-left-long,
  .spotify-template-default #arrow-left-long {
    float: left;
    transform: rotate(0); } }

.post-template-default #articles_index,
.spotify-template-default #articles_index {
  padding-top: 6rem; }

.archive #articles_index {
  padding-top: 4rem; }

@media only screen and (max-width: 768px) {
  .archive #articles_index {
    padding-top: 6rem; } }

.archive .split.left {
  position: unset;
  width: 100%;
  border: none;
  max-width: 100%;
  max-height: 40vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none; }
  .archive .split.left img {
    display: none;
    width: -webkit-fill-available;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    object-fit: cover; }

.archive .article {
  padding-bottom: 0.5em; }
  .archive .article .title,
  .archive .article .date {
    font-size: 1rem; }
  .archive .article .archive_flex {
    display: flex; }
    .archive .article .archive_flex .date {
      order: -1;
      margin-left: 0;
      flex: 3.3;
      max-width: 130px; }
    .archive .article .archive_flex a {
      flex: 6.6; }

.archive #sidebar-1 {
  position: absolute;
  bottom: 25px; }

.spotify-iframe__wrap {
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }
  .spotify-iframe__wrap iframe {
    width: 100%;
    background-color: #eee; }
