body {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

#main {
  min-height: 100vh;
}

#bitnami-banner {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;

  * {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}

.border-top {
  border-top: 2px solid #000;
  padding-top: 1em;
}
.button {
  padding: 0.5em 1em;
  border: 2px solid #000;

  &:hover {
    opacity: 0.3;
  }
}

.home #header {
  opacity: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.3);
  // opacity: 0;

  &.black {
    background-color: #000;

    * {
      color: #fff;
      border-color: #fff;
    }
  }

  #mainNav {
    width: calc(100% - 60px);
    background: transparent;
    padding: 2em 0;
    @media only screen and (max-width: 768px) {
      width: calc(100% - 30px);
    }

    .nav-list {
      display: flex;
    }
    .nav-list__item {
      &:first-child {
        margin-left: 0;
      }
      &:not(:first-child)  {
        margin-right: 1em;
        margin-left: 0;
      }
      &:last-child  {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .display-none-768 {
    display: none;
  }
}


#sidebar-1 {

  // .close {
  //   position: relative;
  //   display: inline-block;
  //   width: 30px;
  //   height: 30px;
  //   overflow: hidden;
  //   margin-left: 72%;
  //   margin-top: -10%;
  //
  //     &::before, &::after {
  //       content: '';
  //       position: absolute;
  //       height: 2px;
  //       width: 100%;
  //       top: 50%;
  //       left: 0;
  //       margin-top: -1px;
  //       background: #000;
  //     }
  //     &::before {
  //       transform: rotate(45deg);
  //     }
  //     &::after {
  //       transform: rotate(-45deg);
  //     }
  // }

}
